.container {
  background-color: #f2f2f2;
}

.height-auto {
  height: 100vh auto;
}

.heading {
  background-color: #6f2da8;
  color: white;
  font-family: "Proza Libre", sans-serif;
}

.header {
  font-weight: 400;
}

.left-margin {
  margin-left: 288px;
}

.entry-left {
  margin-left: 285px;
}

h1 {
  font-family: "Proza Libre", sans-serif;
}

.h3-title {
  margin: 0;
  padding-bottom: 10px;
}

.entries-img {
  width: 50%;
}

.photo-url {
  margin-bottom: 10px;
  margin-top: 25px;
}

.h3-notes {
  margin: 25px 0 10px 288px;
}

textarea {
  margin-left: 25px;
}

.font-os {
  font-family: "Open Sans", sans-serif;
}

.text-border:focus {
  border: 3px;
  outline: solid #6f2da8;
}

.input-area {
  border-radius: 4px;
  border-width: 2px;
  border-color: lightgray;
  padding: 6px;
  font-size: large;
}

.notes-input {
  font-size: larger;
  border-radius: 4px;
  border-width: 2px;
  border-color: lightgray;
  padding: 6px;
  resize: none;
}

.save-button {
  margin: 20px 265px 20px 0;
}

button {
  padding: 7px 15px;
  border-radius: 3px;
  background-color: #6f2da8;
  color: white;
  border: none;
}

.cj-entries {
  align-items: baseline;
  justify-content: start;
}

.cj-entries > div {
  width: 15%;
  padding-right: 0;
}

nav.column-half {
  padding: 0;
}

.entries-h1 {
  width: 74%;
  text-align: end;
}

.new {
  text-align: center;
  margin: 0 0 0 78px;
}

.entries-a {
  font-size: medium;
  padding-left: 0;
  color: white;
  text-decoration: none;
}

.lovelace-ul {
  padding: 0;
  margin-top: 0;
  width: 60%;
}

ul.no-bullets {
  list-style-type: none;
}

.h3-entries {
  margin: 0;
}

.entries-row {
  padding-bottom: 30px;
}

i {
  margin: 0 0 0 200px;
}

@media screen and (max-width: 480px) {
  .row {
    flex-direction: column;
  }

  .cj-entries {
    flex-direction: row;
  }

  .cj-entries > div {
    width: 70%;
    margin: 0 0 0 25px;
  }

  .entry-left {
    margin-left: 0;
  }

  .entries-img {
    width: 100%;
  }

  .h3-title {
    padding-top: 20px;
  }

  .h3-notes {
    margin: 25px 0 10px;
  }

  textarea {
    margin-left: 0;
    width: 92%;
  }

  .lovelace-row {
    flex-direction: row;
  }

  input,
  textarea {
    width: 100%;
  }

  .new {
    text-align: end;
  }

  .lovelace-img {
    width: 100%;
    margin: 0 0 20px;
  }

  .lovelace-ul {
    width: 100%;
    margin-top: 20px;
  }

  li > p {
    line-height: 1.6;
  }
}
